.code, .verb, .name {
	font-family: monospace;
}

.note {
	font-style: italic;
	font-size: .75em;
}

.params, .response, .keys {
	display: table;
}

.key {
	display: table-row;
}

.key > * {
	display: table-cell;
}

.key > *:first-child {
	width: 75px;
}
