@import url(http://fonts.googleapis.com/css?family=Raleway:200,300);
@import url(header.css);
@import url(footer.css);

html {
	height: 100%;
}

body {
	background-color: #eee;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	/** font-family: Georgia, serif; */
	height: 100%;
	margin: 0;
}

body > #wrapper {
	position: relative;
	margin: 0 auto;
	width: 750px;
	background-color: #2b2f34;
	box-shadow: 0 0 10px #2b2f34;
	height: auto !important;
	min-height:100%;
}

main {
	color: #f5f5f5;
	background-color: #2b2f34;
	height: 100%;
	padding: 0 40px 140px;
}

main a {
	text-decoration: none;
	color: #aaaaf5;
}

main a:hover {
	color: #f5f5f5;
}
