footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: #f5f5f5;
}

footer .column {
	float: left;
	margin: 0 100px 0 40px;
}

footer .column a {
	display: block;
	margin: 8px;
}

footer a {
	text-decoration: none;
	color: black;
}

footer a:hover {
	color: #559;
}

footer .icon {
	line-height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
}

footer .icon.home {
	background-image: url('../icons/home.png');
}

footer .icon.about {
	background-image: url('../icons/about.png');
}

footer .icon.api {
	background-image: url('../icons/api.png');
}

footer .icon.humblebundle {
	background-image: url('../icons/humblebundle.png');
}

footer .icon.metacritic {
	background-image: url('../icons/metacritic.png');
}

footer .icon.steam {
	background-image: url('../icons/steam.png');
}

footer a.icon {
	padding-left: 32px;
}
	
