
h1 {
	text-align: center;
	font-family: Arial;
	color: Black;
	background-color: #CC9900;
}

h2 {
	font-family: Helvetica;
	text-align: center;
	color: Red;
	background-color: black;
}

h3 {
	font-family: Helvetica;
	text-align: center;
	color: yellow;
	background-color: black;
}

